@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);

html, body {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

.title {
  border: 0px;
  background-color: #F0563D;
  color: #FFF;
  padding: 20px;
  padding-left: 70px;
  margin: 0px;
  font-size:24px;
}
.backButton {
  position: absolute;
  top: 3px;
  left: 0px;
  padding: 20px;
  font-size:20px;
  margin:0;
  background-color: #F0563D;
  color:#FFF;
  border:0px;
}
.operations {
  overflow: auto;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom:100px;
}
.operations .operationwrapper {
  position: relative;
  padding:0.1px;
  overflow:hidden;
}
.operations .operation {
  margin:20px;
  margin-bottom:40px;
  display: flex;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.operations .operationwrapper .arrow {
  position: absolute;
  width:30px;
  opacity:0.5;
  height:30px;
  font-size:30px;
  text-align:center;
  display:block;
  left:50%;
  margin-left:-15px;
  bottom:0px;
}
.operations .operation .value {
  display:flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.operations .operation button {
  width:60px;
  font-size:24px;
  color:#FFF;
  background-color: #7A776D;
  border-radius: 0 8px 8px 0;
  border:0px;
}
.operations .operation .value input {
  width: 50%;
  border: 0;
  display: block;
  text-align:center;
  font-size: 20px;
  border-bottom: 1px solid #9575CD;
  color: #9575CD;
}
.operations .operation .type {
  border-radius: 8px 0 0 8px;
  width: 30%;
  padding: 20px;
  text-align: center;
  color: #FFF;
}
.operations .operation.apply .type {
  box-sizing:border-box;
  width:auto;
  flex:1;
  padding-left:80px;
}
.operations .operation.apply .value {
  box-sizing:border-box;
  width:0px;
  flex:0;
  overflow:hidden;
}
.operations .operation.with .type {
  background-color: #735D53;
}
.operations .operation.do .type {
  background-color: #59B5A1;
}
.operations .operation.apply .type {
  background-color: #B7C11E;
}


.app {
  display: flex;
  flex-direction: column;
  padding:0;
  margin:0;
}

.opTransition-enter {
  max-height:0;
}

.opTransition-enter.opTransition-enter-active {
  max-height:120px;
  transition: max-height 500ms ease;
}

.opTransition-leave {
  max-height:120px;
}

.opTransition-leave.opTransition-leave-active {
  max-height:0;
  transition: max-height 500ms ease;
}

.opTransition-appear {
  max-height:0;
}

.opTransition-appear.opTransition-appear-active {
  max-height:120px;
  margin-top:;
  transition: all .5s ease;
}

.options{
  background-color: #FFF;
  position: fixed;
  bottom:0px;
}

.menu {
  height:0vh;
  width:100%;
  overflow:hidden;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
}

.menu.open {
  overflow: auto;
  position: fixed;
  width:100%;
  box-sizing: border-box;
  padding-left:10px;
  padding-right:10px;
  background-color: #FFF;
  bottom: 100px;
  height:30vh;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
}

.menu button{
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom: :10px;
  width: 100%;
  height: 40px;
  font-size:12px;
  line-height:40px;
  color: #FFF;
  border: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu button.with{
  background-color: #735D53;
}
.menu button.do{
  background-color: #59B5A1;
}
.menu button.apply{
  background-color: #B7C11E;
}

.buttons {
  box-sizing: border-box;
  background-color: #FFF;
  width:100%;
  position:fixed;
  bottom:0px;
  padding-bottom:5px;
  text-align:center;
}

.buttons button {
  width: 70px;
  height: 70px;
  font-size:20px;
  line-height:70px;
  margin: 10px;
  color: #FFF;
  border-radius: 50%;
  border: 0;
  background-color: #F0563D;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}
.buttons button.run i {
  margin-left:5px;
}
.buttons button:hover {
  box-shadow: 0 5px 8px rgba(0,0,0,0.3);
}

.header {
  background-color: #F0563D;
  text-align:center;
  height: 120px;
}

.header h1 {
  margin:0;
  padding:0px;
  font-size:80px;
  font-weight:lighter;
  color: #FFF;
  line-height:120px;
}

.procedures {
  overflow: auto;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom:100px;
}

.procedures .procedure {
  display:flex;
  box-sizing:border-box;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  height:50px;
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.procedures .procedureswrapper {
  display: flex;
  flex-direction:column;
  width: 100%;
  justify-content:stretch;
  margin:20px 0;
  position: relative;
  padding:0.1px;
  overflow:hidden;
}

.procedures .procedure .procedureName {
  display: flex;
  flex: 1;
  padding-left: 20px;
  border-radius: 8px 0 0 8px;
  background-color:#59B5A1;
  position: relative;
}

.procedures .procedure .delete {
  width:60px;
  font-size:24px;
  color:#FFF;
  background-color: #7A776D;
  border-radius: 0 8px 8px 0;
  border:0px;
}

.procedures button {
  font-size:24px;
  color:#FFF;
  background-color: #7A776D;
  border:0px;
}